/*temas de modo escuro*/
body.modo-escuro {
  background-color: #323232;
  color: #e0e0e0;
}

body.modo-escuro #container,
body.modo-escuro #calendar {
  background-color: #464646;
  color: #e0e0e0;
}

body.modo-escuro .navbar {
  background-color: #1c1c1c !important;
}

body.modo-escuro .modal-content {
  background-color: #464646;
  color: #e0e0e0;
}

body.modo-escuro .form-control {
  background-color: #2b2b2b;
  color: #e0e0e0;
  border: 1px solid #444;
}

body.modo-escuro .btn-close {
  filter: invert(1);
}

body.modo-escuro .fc-toolbar-title {
  color: #f0f0f0;
}

body.modo-escuro .fc-daygrid-day:hover{
  background-color: #5b5b5b;
}

body.modo-escuro .quill{
  background-color: #929292;
}

body.modo-escuro .cores{
  background-color: #1c1c1c;
}
