#listaTransacoes li {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
}

.nav-item a{
    margin-top: 3px;
    width: 95px;
}

.nav-item #selectTemas{
    margin-top: 3px;
    width: 100px;
}
